<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<groups>
 <run>
 <!--<include name ="sanity"/>
 <include name ="regression"/>-->
 <include name ="master"/>
  </run>
   </groups>
 <listeners>
   <listener class-name="Utilities.ExtentReport"></listener>
 </listeners>
 
  <test thread-count="5" name="Test">
    <parameter name="browser" value="Chrome"></parameter>
    <parameter name="os" value="windows"></parameter>
    <classes>
  
      <class name="TestCases.TC001_SearchwebDev"/>
      <class name="TestCases.TC002_LanguageAndLevels"/>
      <class name="TestCases.TC003_Form"/>
    
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->